<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Galery</title>
    <script src="https://use.fontawesome.com/2d4e9228e5.js"></script>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
</head>

<body>
<div class="container">
    <h1>Image manager</h1>
    <div id="image-manager"></div>
    <input id="myCoolJSON" type="hidden">
    <input id="myGalleryPreview" type="hidden">
</div>
<script src="js/galery.js"></script>
<script>
    var galery = new Galery({
        modalId: 'file-modal',
        formId: 'dz',
        formAction: 'upload',
        manager: '#image-manager',
        dataJSON: 'myCoolJSON',
        preview: 'myGalleryPreview'
    });
</script>
</body>
</html>
