<div class="ocim-actions-wrapper ocim-image-form-wrapper container-fluid" id="ocim-image-form-wrapper">
    <form>
        <div class="ocim-image-file">
            <input type="file" name="image_file" id="ocim-image-file">
        </div>
        <div class="ocim-image-form-appends" id="ocim-image-form-appends">

        </div>

        <div class="ocim-form-step" id="ocim-form-step-2">
            <div class="row ocim-form-row-options">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-sm btn-success pull-right ocim-form-btn-save" id="ocim-form-btn-finish">Save and finish</button>
                    <button type="button" class="btn btn-sm btn-success pull-right ocim-form-btn-next" id="ocim-form-btn-next">Next</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Image Metadata</h3>
                    <fieldset class="ocim-form-metadata">

                        <div class="form-group label-floating">
                            <label class="control-label" for="image-title">Image Title</label>
                            <input type="text" name="title" class="form-control" id="image-title">
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="image-desc">Description</label>
                            <input type="text" name="desc" class="form-control" id="image-desc">
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="image-year">Year</label>
                            <input type="text" name="year" class="form-control" id="image-year">
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="image-credits">Credits</label>
                            <input type="text" name="credits" class="form-control" id="image-credits">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <h3>Image Info</h3>
                    <ul>
                        <li>Image name: <strong id="ocim-file-info-file-name"></strong></li>
                        <li>Image size: <strong id="ocim-file-info-file-size"></strong></li>
                        <li>Image type: <strong id="ocim-file-info-file-type"></strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
