<div class="ocim-actions-wrapper ocim-image-form-wrapper container-fluid" id="ocim-image-form-wrapper">
    <form>
        <div class="ocim-image-file">
            <input type="file" name="image_file" id="ocim-image-file">
        </div>
        <div class="ocim-image-form-appends" id="ocim-image-form-appends">

        </div>
        <div class="ocim-form-step" id="ocim-form-step-2">
            <div class="row ocim-form-row-options">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-sm btn-primary pull-right" id="ocim-form-btn-image-editor">Image Editor</button>
                    <button type="button" class="btn btn-sm btn-success pull-right ocim-form-btn-save" id="ocim-form-btn-finish">Save and finish</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Image Metadata</h3>
                    <fieldset class="ocim-form-metadata">

                        <div class="form-group label-floating">
                            <label class="control-label" for="ocim-field-image-title">Image Title</label>
                            <input type="text" name="title" class="form-control" id="ocim-field-image-title">
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="ocim-field-image-alt">Alt</label>
                            <input type="text" name="alt" class="form-control" id="ocim-field-image-alt">
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="ocim-field-image-credits">Credits</label>
                            <input type="text" name="credits" class="form-control" id="ocim-field-image-credits">
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="ocim-field-image-credits">Tags <small>(use tab for choosing tags)</small></label>
                            <input type="text" name="credits" class="form-control" id="ocim-field-image-tags">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <h3>Image Info</h3>
                    <ul>
                        <li>Image name: <strong id="ocim-file-info-file-name"></strong></li>
                        <li>Image size: <strong id="ocim-file-info-file-size"></strong></li>
                        <li>Image type: <strong id="ocim-file-info-file-type"></strong></li>
                        <li>Original resolution: <strong id="ocim-file-info-file-res"></strong></li>
                        <li>
                            Image Crops:
                            <ul id="ocim-file-info-file-crops">

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="js/vendor.min.js"></script>
<script src="js/index.js"></script>
